.mainSection {
  height: 800px;
}

.mainSection section {
  position: absolute;
  margin: 150px 0 0 160px;
}
.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 36px;
  line-height: 46px;
}

.mainSection p {
  font-size: 26px;
  line-height: 38px;
}

.mainSection section figure {
  width: 210px;
  height: 20px;
  background: green;
}
